/* Reset*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  --text-color: #0137bb;
  color: #aac6dc;
  font-family: "Fredoka One", cursive;
  font-family: "Shrikhand", cursive;
  font-family: "Happy Monkey", cursive;
}

img {
  width: 100%;
}

body {
  width: 100%;
  background-color: #f5e9db;
}

/* Største overskrift på sider, before og after bestemmer linierne ved siden af*/

h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  color: var(--text-color);
  margin: 50px auto;
  max-width: 500px;
  position: relative;
}

h2 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  color: var(--text-color);
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  color: #0137bb;
  margin-top: 30px;
  font-size: 2rem;
}

/* MENU*/
/* logo størrelse og hvor det er placeret*/
.logo {
  height: 80px;
  float: right;
}

li a {
  color: #0137bb;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.hover:hover {
  border-bottom: 3px solid #0137bb;
  transition: 0.2s;
  padding-bottom: 16px;
}

a.active {
  border-bottom: 3px solid #0137bb;
  padding-bottom: 16px;
}

/*PORTFOLIO*/

/*ABOUT*/

.grid_1-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

hr {
  width: 100%;
  color: #0137bb;
  margin-bottom: 5%;
  margin-top: 5%;
}

p {
  font-size: 10px;
  margin-left: 10px;
  color: #0137bb;
}

.kontakt_baggrund {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #e9d6dc;
  padding: 60px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  margin: 10%;
  text-align: center;
}

.bert {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.img_size {
  width: 40%;
}

/*MOBILSITE*/

.link {
  text-align: center;
  margin-top: 20px;
}

a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  border-bottom: 3px solid transparent;
}

@media (min-width: 1000px) {
  body {
    width: 100%;
    background-color: #f5e9db;
  }

  /* Generel*/
  h1 {
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-size: 3rem;
    color: #0137bb;
    margin: 80px auto;
    max-width: 600px;
    position: relative;
  }

  h2 {
    text-align: center;
    font-family: "Shrikhand", cursive;
    color: var(--text-color);
    margin-top: 5%;
  }

  h3 {
    color: #0137bb;
    text-align: center;
  }

  body {
    background-color: #f5e9db;
    background-size: cover;
  }

  /* MENU DESKTOP*/

  .logo {
    height: 80px;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-family: "Fredoka One", cursive;
    font-size: 1rem;
    border-bottom: 3px solid transparent;
  }

  .hover:hover {
    border-bottom: 3px solid #0137bb;
    padding-bottom: 16px;
  }

  a.active {
    border-bottom: 3px solid #0137bb;
    padding-bottom: 16px;
  }

  img {
    max-width: 100%;
  }

  /*PORTFOLIO*/

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .scale:hover {
    transform: scale(1.1);
  }

  /*ABOUT*/

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  hr {
    width: 100%;

    color: #0137bb;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  p {
    text-align: left;
    line-height: 30px;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    color: #0137bb;
  }

  .kontakt_baggrund {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #e9d6dc;
    padding: 60px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    margin: 10%;
    text-align: center;
  }

  .bert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .img_size {
    width: 40%;
  }

  /*MOBILSITE*/

  .link {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    cursor: pointer;
  }

  /*EMNESITE*/

  .link:hover {
    color: white;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 50px;
  }

  /*UXSITE*/

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
  }

  .img_text {
    font-size: 1rem;
    margin-top: 20px;
    line-height: 30px;
  }

  /*ANIMATIONSITE*/
  .image_hover {
    position: relative;
    width: 600px;
    margin-left: 80px;
  }

  .image__img {
    display: block;
    width: 100%;
  }

  .image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 169, 169, 0.6);
    color: blue;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .image__overlay:hover {
    opacity: 1;
  }

  .image__title {
    font-size: 2rem;
    font-weight: bold;
  }
}
