* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  --text-color: #0137bb;
  color: #aac6dc;
  font-family: "Fredoka One", cursive;
  font-family: "Shrikhand", cursive;
  font-family: "Happy Monkey", cursive;
}

img {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 3rem;
  color: var(--text-color);
  margin: 100px auto;
  max-width: 600px;
  position: relative;
}

h2 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  color: var(--text-color);
  margin-top: 5%;
}

h3 {
  color: #0137bb;
}

.logo {
  height: 80px;
  float: right;
}

li a {
  color: #0137bb;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.hover:hover {
  border-bottom: 3px solid #0137bb;
  transition: 0.2s;
  padding-bottom: 16px;
}

a.active {
  border-bottom: 3px solid #0137bb;
  padding-bottom: 16px;
}

hr {
  display: none;
}

@media (min-width: 900px) {
  h1 {
    text-align: center;
    font-family: "Shrikhand", cursive;
    font-size: 3rem;
    color: var(--text-color);
    margin: 100px auto;
    max-width: 600px;
    position: relative;
  }

  h1:before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: #0137bb;
    left: 0;
    top: 50%;
    position: absolute;
  }

  h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: #0137bb;
    right: 0;
    top: 50%;
    position: absolute;
  }

  h2 {
    text-align: center;
    font-family: "Shrikhand", cursive;
    color: var(--text-color);
    margin-top: 5%;
  }

  h3 {
    color: #0137bb;
  }

  body {
    background-color: #f5e9db;
    background-size: cover;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    height: 80px;
  }

  .nav-list {
    list-style: none;
  }

  .nav-list .list-item {
    display: inline-block;
    padding: 40px 40px;
  }

  a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-family: "Fredoka One", cursive;
    font-size: 1rem;
    border-bottom: 3px solid transparent;
  }

  .hover:hover {
    border-bottom: 3px solid #0137bb;
    padding-bottom: 16px;
  }

  .navbar a.active {
    border-bottom: 3px solid #0137bb;
    padding-bottom: 16px;
  }

  img {
    max-width: 100%;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .link_side {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid_1-1-1-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .icon {
    width: 50%;
  }

  hr {
    width: 100%;
    color: #0137bb;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  p {
    text-align: left;

    font-size: 20px;
    padding-right: 150px;
    padding-left: 150px;
    color: #0137bb;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .phone {
    flex-basis: 40%;
    margin-left: 20px;
  }

  .tlf {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
  }

  .kontakt_baggrund {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #e9d6dc;
    padding: 60px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    margin: 10%;
    text-align: center;
  }

  .bert {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
  }

  .img_size {
    width: 40%;
  }

  .scale:hover {
    transform: scale(1.1);
  }

  .link {
    text-align: center;
  }
}

@media (max-width: 900px) {
  body {
    background-color: #f5e9db;
  }

  .cirkel_sprite,
  .cirkel_sprite2,
  .cirkel_sprite3 {
    background-image: none;
  }
  .baggrund_img {
    color: #2b9f94;
    background-color: #aac6dc;
    border-radius: 30px;
    margin-right: 5%;
    padding: 2%;
  }

  .link_side {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10%;
  }
}
